@import "tailwindcss";

@font-face {
  font-family: 'lau3';
  src: url('/font/Lausanne-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lau5';
  src: url('/font/Lausanne-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

body {
  color: white;
  font-family: 'lau3', sans-serif;
}