@import "tailwindcss";

@font-face {
  font-family: 'lau3';
  src: url('/font/Lausanne-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lau5';
  src: url('/font/Lausanne-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

body {
  color: rgb(30, 30, 30);
  background-color: rgb(235, 235, 235);
  font-family: 'lau3', sans-serif;
  overflow-x: hidden;
}